* {
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #f4f4f4;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

#outer-wrapper {
  box-shadow: 0 4px #C13832 inset;
}

#tabzilla {
  position: absolute;
  top: 0;
  right: 32px;
  display: none;
}

.section {
  margin: auto;
  max-width: 960px;
  padding: 0 16px;
}
.section + .section {
  margin-top: 16px;
}

.section--fullwidth {
  max-width: 100%;
  padding: 0 16px;
}

.section--fullwidth > * {
  margin: auto;
  max-width: calc(960px - 64px);
}

.section.masthead {
  padding-top: 1em;
  position: relative;
}

.row.masthead {
  align-items: flex-end;
}


.branding {
  color: #333;
}
.branding span {
  display: inline-block;
  transform: rotate(-2deg);
}
.branding h1 {
  font-size: 4em;
  line-height: 1em;
  margin-top: .4em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.branding img {
  display: inline-block;
  height: 1em;
  margin-right: .2em;
  position: relative;
  top: -.1em;
  vertical-align: middle;
}

.grid {
  list-style-type: none;
  padding: 0;
}

.feature {
  box-shadow:
    0 1em 3em -2em rgba(0,0,0,.5) inset,
    0 -1em 3em -2em rgba(0,0,0,.5) inset;
}


.feature {
  background: #DBEBC0;
}
.feature h1 {
  font-size: calc(1.5em + 2vw);
  line-height: 1.1em;
  text-align: center;
  font-weight: 400;
}
.feature .block {
  height: 192px;
  padding: 24px 32px;
  overflow: hidden;
}


.feature.cat--trainspotting {
  background: #19A1E6;
  color: #fff;
}
.feature.cat--trainspotting img {
  margin-top: 2em;
  width: calc(120% - 20vw);
  position: relative;
  left: calc(((120% - 20vw) - 100%) / -2);
  display: block;
}

.search__input {
  flex: 1;
  font-size: 1.2em;
  margin-right: 1em;
  padding-left: .5em;
}

.search__form {
  display: flex;
}


/* demo styles */

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
}

.search h2 {
  color: #C13832;
  font-size: 1em;
}

.heading {
  color: #C13832;
  margin-bottom: 1em;
}



.masthead {
  color: #333;
}
.masthead .block {
  padding: 0;
}

.grid__item {
  min-height: 100px;
}

.post__meta {
  font-size: .8em;
}

.footer {
  background: #fff;
}


.avatar {
  background: #ccc;
  float: left;
  height: 48px;
  margin: 0 1em 1em 0;
  width: 48px;
}

@media all and (max-width: 639px) {
  .grid__item {
    margin-top: 32px;
  }
  .branding {
    margin-bottom: 1.5em;
  }
  .block + .block {
    margin-top: 16px;
  }
}


@media all and (min-width: 640px) {

  body {
    font-size: 16px;
  }

  #tabzilla {
    display: block;
  }

  .row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .block + .block {
    margin-left: 32px;
  }
  .block--1 { flex: 1; }
  .block--2 { flex: 2; }
  .block--3 { flex: 3; }

  .grid {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__item {
    flex: 1 40%;
    min-width: 200px;
    margin: 0;
  }
  .grid__item:nth-child(n+3) {
    margin-top: 32px;
  }
  .grid__item:nth-child(2n) {
    margin-left: 32px;
  }

  .branding h1 {
    text-align: left;
  }

  .section {
    padding: 0 32px;
  }
  .section + .section {
    margin-top: 32px;
  }

  .feature .block {
    height: 256px;
  }
}
