* {
  box-sizing: border-box;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  background: #fafafa;
  color: #333;
  font-family: 'Fira Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

a:link,
a:visited {
  color: #005CA5;
}
a:hover {
  color: #0095DD;
}

.outer-wrapper {
  box-shadow: 0 4px #006CB2 inset;
}

#tabzilla {
  position: absolute;
  top: 0;
  right: 32px;
  display: none;
}

.section {
  text-align: left;
  margin: auto;
  max-width: 960px;
  padding: 0 16px;
}
.section + .section {
  margin-top: 16px;
}

.section--fullwidth {
  max-width: 100%;
  padding: 0 16px;
}

.section--fullwidth > * {
  margin: auto;
  max-width: calc(960px - 64px);
}

.section.masthead {
  padding-top: 2.5rem;
  position: relative;
}

.row.masthead {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}

main {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.branding {
  color: #333;
}
.branding span {
  display: inline-block;
  -webkit-transform: rotate(-2deg);
      -ms-transform: rotate(-2deg);
          transform: rotate(-2deg);
}
.branding h1 {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.branding img {
  display: inline-block;
  height: 1.2em;
  margin: -.1em .25em -.1em 0;
  position: relative;
  top: -.1em;
  vertical-align: middle;
}

.grid {
  list-style-type: none;
  padding: 0;
  margin-top: 16px;
}

.feature {
  box-shadow:
    0 1em 3em -2em rgba(0,0,0,.5) inset,
    0 -1em 3em -2em rgba(0,0,0,.5) inset;
}

.feature {
  background: #454545;
  color: #fff;
}
.feature h1 {
  font-size: calc(1.5em + 2vw);
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
}
.feature__pane {
  height: 192px;
  overflow: hidden;
  padding: 38px;
  position: relative;
}
.feature__label {
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: .8rem;
  font-weight: 300;
  left: 0;
  padding: .5em 1em .4em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  margin: 0;
}


.feature.cat--trainspotting {
  background: #19A1E6;
  color: #fff;
  --var-size: 120%;
  --var-adjust: 20vw;
}
.feature.cat--trainspotting img {
  margin-top: 1em;
  width: calc(var(--var-size) - var(--var-adjust));
  position: relative;
  left: calc(((var(--var-size) - var(--var-adjust)) - 100%) / -2);
  display: block;
}


/* demo styles */

h1, h2, h3, h4, h5 {
  font-weight: 500;
  margin: 0;
  line-height: 1.2;
}

h2 {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 2.2rem;
  margin-bottom: .8rem;
}

h4 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.article p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

p code {
  font-size: .8rem;
  padding: .1rem;
  background: #eee;
  position: relative;
  top: -.11rem;
}

.search {
  position: relative;
  margin-bottom: .5rem;
}
.search__input {
  font-size: 1rem;
  font-family: inherit;
  padding: 0.3em 1.8em 0.2em 1em;
  width: 100%;
  border: 0;
  box-shadow: 0px 0px 0px 1px #ccc;
  border-radius: 3px;
}
.search__badge {
  position: absolute;
  right: .6em;
  top: .5em;
  color: #666;
}

.masthead {
  color: #333;
}
.masthead .block {
  padding: 0;
}

.grid__item {
  min-height: 100px;
}

.listing .post__meta {
}

.listing .post__title {
  font-size: 1.4rem;
  margin-top: 0;
}

.listing .post__tease {
  font-size: .8rem;
  clear: both;
}

.avatar {
  margin: 0 1em 1em 0;
  border-radius: 50%;
}

.listing .avatar {
  float: left;
}

.footer {
  background: #006CB2;
  color: #fff;
  text-align: left;
}
.footer a {
  color: #fff;
}
.footer .row {
  padding: 3rem 0;
}
.footer__logo {
  width: 6rem;
  margin-right: 48px;
}

.nobreak {
  white-space: nowrap;
  word-wrap: break-word;
}

.heading a {
  text-decoration: none;
}

.branding a {
  color: #333;
}

.main-content a {
  color: #A40106;
}

.article__title {
  margin-top: 0;
}

.post__author {
  margin-top: .4rem;
}

.post__title {
  font-size: 2rem;
  line-height: 1.2em;
}

.post > p:last-of-type:after {
  content: ' \25AF';
}

.nav-paging {
  overflow: hidden;
}
.nav-paging__next {
  float: right;
}
.nav-paging__prev {
  float: left;
}


/* Article */

.article img {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  max-height: 70vh;
  margin: 2em auto;
}

#content-head .post__meta {
  font-size: .8rem;
}

.article pre {
  word-wrap: break-word;
  overflow: auto;
  font-size: .8rem;
}

.fancy-link, .article a:link {
  background-image: -webkit-linear-gradient(top, transparent 75%, currentColor 75%);
  background-image: linear-gradient(to bottom, transparent 75%, currentColor 75%);
  background-repeat: repeat-x;
  background-size: 2px .1em;
  background-position: 0 calc(1em + 2px);
  text-decoration: none;
}

.article a:link {
  text-shadow:
    -2px 0 0 #fafafa,
    2px 0 0 #fafafa,
    0 -2px 0 #fafafa,
    0 1px 0 #fafafa;
}

.entry-cat a {
  display: inline-block;
  text-shadow: none;
  background: #444;
  color: #fff;
  padding: .1em .8em .05em;
  border-radius: 1em;
  font-size: .8em;
  vertical-align: 10%;
  margin: 0 .1em;
}

.discussion {
  max-width: 65ch;
}
.comments__list, .comments .children {
  list-style-type: none;
  padding-left: 0;
}
.comments .children {
  border-left: 2px solid rgba(0,0,0,.5);
  padding-left: 1em;
  margin-top: 1em;
}
.comment__body {
  margin: 0;
}
.children .comment__title {
}
.comments__closed {
  text-align: center;
}
.comment__title cite {
  font-style: normal;
}

.comment {
  padding: .5rem 0;
}
.comment__meta {
  font-size: .7rem;
}
.comment.bypostauthor .comment__title:after {
  content: 'AUTHOR';
  font-weight: 400;
  font-size: .75rem;
  vertical-align: middle;
  display: inline-block;
  padding: .3rem .5rem .2rem;
  line-height: 1em;
  background: rgba(0,0,0,.2);
  margin-left: .5rem;
  margin-top: -.1em;
  border-radius: .2em;
}

#cmt-ackbar {
  position: absolute;
  left: -999em;
  left: -100vw;
}

button {
  font: inherit;
  border: 0;
  padding: .5em .75em;
  line-height: 1em;
  background: #006CB2;
  color: #fff;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}


hr.dino {
  margin: 2em auto;
  width: 20em;
  border: 0;
  height: 1px;
  position: relative;
  background-image: -webkit-linear-gradient(left, #ccc 40%, transparent 40%, transparent 60%, #ccc 60%);
  background-image: linear-gradient(
    to right,
    #ccc 40%,
    transparent 40%,
    transparent 60%,
    #ccc 60%
  );
}
hr.dino:after {
  content: '';
  background: url('img/dino-dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2em;
  height: 2em;
  opacity: .25;
  position: absolute;
  left: 9em;
  top: -1em;
  display: block;
}

.about {
  margin: 2em 0;
}
.about__header {
}

.article-list {
  list-style-type: none;
  padding: 0;
}
.list-item {
  margin-top: 2em;
}

@media all and (max-width: 639px) {
  html {
    font-size: 14px;
  }
  .grid__item:nth-child(n+2) {
    margin-top: 32px;
  }
  .branding {
    margin-bottom: 1.5em;
  }
  .block + .block {
    margin-top: 16px;
  }
  .search__form {
    display: none;
  }
  .social {
    display: none;
  }
  .avatar {
    width: 48px;
    height: 48px;
  }
}

@media all and (min-width: 700px) {
  .branding h1 {
    font-size: 4rem;
  }
  .article {
    font-size: 1rem;
  }
  .section.masthead {
    padding-top: 4rem;
  }
  .post__title {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 640px) {

  html {
    font-size: 18px;
  }

  #tabzilla {
    display: block;
  }

  .row {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .block + .block {
    margin-left: 32px;
  }
  .block--1 { -webkit-box-flex: 1; -webkit-flex: 1 1 auto; -ms-flex: 1 1 auto; flex: 1 1 auto; }
  .block--2 { -webkit-box-flex: 2; -webkit-flex: 2 2 auto; -ms-flex: 2 2 auto; flex: 2 2 auto; }
  .block--3 { -webkit-box-flex: 3; -webkit-flex: 3 3 auto; -ms-flex: 3 3 auto; flex: 3 3 auto; }

  .grid {
    margin-top: 32px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }
  .grid__item {
    -webkit-box-flex: 1;
    -webkit-flex: 1 40%;
        -ms-flex: 1 40%;
            flex: 1 40%;
    min-width: 200px;
    margin: 0;
  }
  .grid__item:nth-child(n+3) {
    margin-top: 32px;
  }
  .grid__item:nth-child(2n) {
    margin-left: 32px;
  }

  .section {
    padding: 0 32px;
  }
  .section + .section {
    margin-top: 32px;
  }

  .feature__pane {
    height: 256px;
    padding-top: 48px;
  }

  .branding h1 {
    text-align: left;
  }

  .post {
    max-width: 65ch;
  }

  .social {
    position: absolute;
    right: 180px;
    top: .7em;
    font-size: 1.2em;
  }
  .social__link:link,
  .social__link:visited {
    display: inline-block;
    margin-right: .5em;
    color: #333;
  }
  .social__link.twitter:hover {
    color: #55ACEE;
  }
  .social__link.youtube:hover {
    color: #CC181E;
  }
  .social__link.rss:hover {
    color: #F59336;
  }
}
