* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

html, body {
  height: 100%;
}

body {
  background: #fff;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  font-size: 100%;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  margin: 0;
  line-height: 1.2;
}

h2 {
  font-size: 1.6rem;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.2rem;
  margin-top: 2.2rem;
  margin-bottom: .8rem;
}

h4 {
  font-size: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

a:link,
a:visited {
  color: #005CA5;
}
a:hover {
  color: #0095DD;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button {
  font: inherit;
  border: 0;
  padding: .5em .75em;
  line-height: 1em;
  background: #00659A;
  color: #fff;
}
button::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
  line-height: normal;
}

hr.dino {
  margin: 2em auto;
  width: 20em;
  border: 0;
  height: 1px;
  position: relative;
  background-image: linear-gradient(
    to right,
    #ccc 40%,
    transparent 40%,
    transparent 60%,
    #ccc 60%
  );
}
hr.dino:after {
  content: '';
  background: url('img/dino-dark.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 2em;
  height: 2em;
  opacity: .25;
  position: absolute;
  left: 9em;
  top: -1em;
  display: block;
}


.outer-wrapper {
  border-top: 2px solid #fff;
  min-height: 100%;
  overflow: hidden;
}

.header {
  background-image:
    url(img/blueprint.png),
    linear-gradient(to bottom, #1f4d78, #1862a7);
  background-color: #1f4d78;
  color: #fff;
}

#tabzilla {
  position: absolute;
  top: 0;
  right: 0;
  transform-origin: top right;
}


.branding span {
  display: inline-block;
}
.branding h1 {
  font-size: 4em;
  line-height: 1em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
}
.branding img {
  display: inline-block;
  height: 1em;
  margin: -.1em .25em -.1em 0;
  position: relative;
  top: -.1em;
  vertical-align: middle;
}


.section {
  text-align: left;
  margin: auto;
  max-width: 960px;
  padding: 0 1em;
  padding: 0 1rem;
}
.section + .section {
  margin-top: 2em;
  margin-top: 2rem;
}
.section--fullwidth {
  max-width: 100%;
  padding: 0 1em;
  padding: 0 1rem;
}
.section.article {
  padding-bottom: 2rem;
}

.section--fullwidth > * {
  margin: auto;
  max-width: calc(960px - 64px);
}

.section + .section.feature {
  margin-top: 0;
}


.masthead {
  padding-top: 2.5rem;
  padding-bottom: 2em;
  position: relative;
}

.masthead.row {
  align-items: flex-end;
}


.feature {
  background: #f4f4f4;
}
.feature h1 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.2em;
  text-align: center;
}
.feature__pane {
  overflow: hidden;
  padding: 38px;
  position: relative;
}
.feature__label {
  background: rgba(0,0,0,.5);
  color: #fff;
  font-size: .8rem;
  font-weight: 400;
  left: 0;
  padding: .5em 1em .4em;
  position: absolute;
  text-transform: uppercase;
  top: 0;
  margin: 0;
}
.feature__link,
.feature__link:link,
.feature__link:hover,
.feature__link:visited {
  color: inherit;
  text-decoration: none;
}

.article p {
  margin-top: .75rem;
  margin-bottom: .75rem;
}

.post code {
  background: #eee;
  position: relative;
  word-wrap: break-word;
}

.post pre {
  background: #eee;
  margin: 2em 0;
}

.search {
  position: relative;
  margin-bottom: .5rem;
}
.search__input {
  font-size: 1rem;
  font-family: inherit;
  padding: .5em 1em .5em 2em;
  line-height: 1em;
  width: 100%;
  border: 0;
  border-radius: 3px;
  -webkit-appearance: none;
}
.search__badge {
  position: absolute;
  left: .6em;
  top: 0;
  bottom: 0;
  height: 1.2em;
  line-height: 1em;
  margin: auto 0;
  color: #666;
}

.masthead {
  color: #fff;
}
.masthead .block {
  padding: 0;
}

.listing {
  padding-left: 96px;
  padding-left: calc(1rem + 72px);
  position: relative;
  min-height: 72px;
}

.listing .post__title {
  font-size: 1.4rem;
  margin-top: 0;
}

.avatar {
  margin: 0 1em 1em 0;
  border-radius: 50%;
}

.listing .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.footer {
  background: url(img/blueprint.png) #1862a7;
  color: #fff;
  font-size: .8em;
  text-align: left;
  position: relative;
}
.footer a {
  color: #fff;
}
.footer .row {
  padding: 2rem 0;
}
.footer__logo {
  width: 72px;
  margin-right: 2em;
  order: 0;
  flex-shrink: 0;
  align-self: flex-start;
  display: block;
}
.footer .block {
  order: 1;
}

.nobreak {
  white-space: nowrap;
  word-wrap: break-word;
}

.heading {
  margin-top: 1rem;
}

.heading a {
  text-decoration: none;
}

.branding a {
  color: #fff;
}

.branding .logo-askew {
  animation-name: unskew;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(.75, -2, .75, 2);
  transform-origin: 86% 15%;
}

.branding:hover .logo-askew {
  animation-name: skew;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 86% 15%;
}

@keyframes unskew {
  0% {
    transform: rotate(-12deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes skew {
  40% {
    transform: rotate(-16deg);
  }
  60% {
    transform: rotate(-8deg);
  }
  to {
    transform: rotate(-12deg);
  }
}

.main-content a {
  color: #A40106;
}

.post__author {
  margin-top: 2rem;
  font-size: 1.5rem;
}

.byline {
  padding-left: 72px;
  padding-left: calc(1em + 64px);
  position: relative;
}

.byline .avatar {
  position: absolute;
  top: 0;
  left: 0;
}

.post__title {
  font-size: 2rem;
  line-height: 1.2em;
}


.nav-paging {
  overflow: hidden;
}
.nav-paging__next {
  float: right;
}
.nav-paging__prev {
  float: left;
}


/* img */

.article img,
.article video {
  max-width: 100%;
  height: auto;
  width: auto;
  display: block;
  max-height: 70vh;
  margin: 2em auto;
}

.article iframe[src *= "youtube"] {
  margin: 2em auto;
  max-width: 90vw;
  max-height: 50.625vw;
  display: block;
}

.article figure {
  margin: 2em auto;
}
.article figure.paragraph {
  max-width: 65ch;
}
.article figcaption {
  font-size: .8rem;
  font-style: italic;
  margin: 0 2em;
  text-align: center;
  padding-bottom: .5em;
  border-bottom: 1px solid #005CA5;
}



.post__meta {
  font-size: .8rem;
}

.socialshare {
  margin-top: 1em;
}

.socialshare, .socialshare * {
  box-sizing: content-box;
}

.article pre {
  word-wrap: break-word;
  overflow: auto;
  font-size: 1rem;
}

.article__title {
  margin-top: 0;
}


@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {

  .fancy-link,
  .article a:link,
  h3 a:link,
  h2 a:link
   {
    background-image: linear-gradient(to bottom, transparent 75%, currentColor 75%);
    background-repeat: repeat-x;
    background-size: 2px .1em;
    background-position: 0 calc(1em + 2px);
    text-decoration: none;
    text-shadow:
      -2px 0 0 #fff,
      2px 0 0 #fff,
      0 -2px 0 #fff,
      0 1px 0 #fff;
  }

  .article figcaption {
    border-width: .5px;
  }

}


.entry-cat a {
  display: inline-block;
  text-shadow: none;
}


.discussion {
  max-width: 65ch;
}
.comments__list, .comments .children {
  list-style-type: none;
  padding-left: 0;
}
.comments .children {
  border-left: 2px solid rgba(0,0,0,.5);
  padding-left: 2em;
  margin-top: 1em;
}
.comment__body {
  margin: 0;
}
.children .comment__title {
}
.comments__closed {
  text-align: center;
}
.comment__title cite {
  font-style: normal;
}

.comment {
  padding: .5rem 0;
}
.comment__meta {
  font-size: .7rem;
}
.comment.bypostauthor .comment__title:after {
  content: 'AUTHOR';
  font-weight: 400;
  font-size: .75rem;
  vertical-align: middle;
  display: inline-block;
  padding: .3rem .5rem .2rem;
  line-height: 1em;
  background: rgba(0,0,0,.2);
  margin-left: .5rem;
  margin-top: -.1em;
  border-radius: .2em;
}

#cmt-ackbar {
  position: absolute;
  left: -999em;
  left: -100vw;
}

.response label {
  display: block;
}
.response .field {
  margin-top: 1rem;
}

.response textarea {
  width: 100%;
}

.about {
  margin: 2em 0;
}
.about__header {
}
/* I need this specificity to defeat font awesome */
.about .author-meta {
  margin-left: 1.6em;
}

.about-authors {
  list-style-type: none;
  padding: 0;
}

.article-list {
  list-style-type: none;
  padding: 0;
}
.list-item {
  margin-top: 2em;
}

.category-list {
  padding-left: 1rem;
}
.category-list__link {
  white-space: nowrap;
}

.error-page {
  min-height: 70vh;
}

@media all and (max-width: 639px) {
  html {
    font-size: 14px;
  }
  .grid__item:nth-child(n+2) {
    margin-top: 2rem;
  }
  .branding {
    margin-bottom: 1.5em;
  }
  .block + .block {
    margin-top: 2rem;
  }
  .search {
    max-width: 320px;
    margin: 0 auto;
  }
  .social {
    display: none;
  }
  .avatar {
    width: 48px;
    height: 48px;
  }
  .comments .children {
    padding-left: 1em;
  }
  .byline {
    padding-left: 64px;
    padding-left: calc(48px + 1em);
  }
  .footer .row {
    padding: 1rem 0 2rem;
  }
  .footer__logo {
    margin: 1rem auto 0;
    width: 48px;
  }
  .feature h1 {
    font-size: 2rem;
  }
  .post__tease {
    font-size: .8em;
  }
  .feature__pane {
    padding: 2.5em 0 2em;
  }
  .listing {
    padding-left: 64px;
    padding-left: calc(1em + 48px);
    min-height: 48px;
  }
  .category-list {
    padding-left: 0;
    list-style-type: none;
    text-align: center;
    font-size: 1.2rem;
  }
  .category-list__link {
    display: inline-block;
  }
  .category-list__link + .category-list__link:before {
    content: '• ';
  }
  #tabzilla {
    transform: scale(.5);
  }
  .article pre {
    font-size: .8rem;
  }
}

@media all and (min-width: 800px) {
  .branding h1 {
    font-size: 4rem;
  }
  .feature h1 {
    font-size: 3rem;
  }
  .article {
    font-size: 1rem;
  }
  .masthead {
    padding-top: 4rem;
  }
  .post__title {
    font-size: 2.5rem;
  }
}

@media all and (min-width: 640px) {

  html {
    font-size: 16px;
  }

  .row {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .block + .block {
    margin-left: 4rem;
  }
  .block--1 { flex: 1 1 auto; }
  .block--2 { flex: 2 2 auto; }
  .block--3 { flex: 3 3 auto; }

  .grid {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
  }
  .grid__item {
    flex: 1 40%;
    min-width: 200px;
    margin: 0;
  }
  .grid__item:nth-child(n+3) {
    margin-top: 2rem;
  }
  .grid__item:nth-child(2n) {
    margin-left: 2rem;
  }

  .section {
    padding: 0 2rem;
  }
  .section + .section {
    margin-top: 2rem;
  }

  .feature__pane {
    padding-top: 3rem;
  }

  .branding h1 {
    text-align: left;
  }

  .post p,
  .post ul,
  .post ol {
    max-width: 65ch;
  }

  .post ol ol {
    list-style-type: lower-alpha;
  }

  .post ol ol ol {
    list-style-type: lower-roman;
  }

  .social {
    position: absolute;
    right: 150px;
    top: .7em;
    font-size: 1.2em;
  }
  .social__link:link,
  .social__link:visited {
    display: inline-block;
    margin-right: .5em;
    color: #fff;
  }
  .social__link span {
    display: inline-block;
    height: 0;
    font-size: 0;
    text-indent: -9999px;
  }
  .social__link:hover {
    text-shadow:
      0 2px 8px #fff,
      0 -2px 8px #fff,
      2px 0 8px #fff,
      -2px 0 8px #fff;
  }
  .social__link.twitter:hover {
    color: #55ACEE;
  }
  .social__link.youtube:hover {
    color: #CC181E;
  }
  .social__link.rss:hover {
    color: #F59336;
  }

  .socialshare {
    display: inline-block;
    margin: 0 0 0 1em;
  }
}
